<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop Prediction</title>
    <style>
        body {
            background:  #3f87a6;
            text-align: center;
            margin: auto;
            width: 640px; 
            padding: 50px;

              }
        .res{
          color: white;
          text-align: center;
          font-size: 32px;
          font-weight: bolder;

      }
    </style>
</head>
<body>
    <div class="res">
        <div class="card card-body" style="justify-content: center;">
            <h1 class="text-center"><b>You should grow <i>{{ prediction }} </i>in your farm</b></h1>
       </div>

    </div>

    
</body>
</html>