<!DOCTYPE HTML>

<html>
	<head>
		<title>Home</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='frontend/assets/css/main.css') }}" type='text/css'/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='frontend/assets/css/noscript.css') }}"/></noscript>
	
		<script>
			addEventListener("load", function () {
				setTimeout(hideURLbar, 0);
			}, false);
	
			function hideURLbar() {
				window.scrollTo(0, 1);
			}
	
		</script>
		
		<script type="text/JavaScript" src="{{ url_for('static', filename='scripts/cities.js') }}"></script>

	</head>
	<body class="landing is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="{{ url_for('home') }}"><img class="logo" src="{{ url_for('static', filename='frontend/images/logo.png') }}"></a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="{{ url_for('home') }}">Home</a></li>
											<li><a href="{{ url_for('crop_recommend') }}">Crop Prediction</a></li>
											<li><a href="{{ url_for('fertilizer_recommendation') }}">Fertilizer Suggestion</a></li>
											<li><a href="{{ url_for('disease_prediction') }}">Disease Detection</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>Farm Assist</h2>
							<p>A helping hand to farmers</p>
							
							
						</div>
						<a href="#one" class="more scrolly">Learn More</a>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								
								<h2>Here are some questions we'll answer
								</h2><br>
								<h5 style="line-height: 2.6;">1. What crop to plant here? <br>
									2. What fertilizer to use? <br>
									3. Which disease do your crop have?<br>
									4. How to cure the disease?</h5>
							</header>
							<ul class="icons major">
								<li><span class="icon fas fa-tree major style1"><span class="label">Tree</span></span></li>
								<li><span class="icon fas fa-tractor major style2"><span class="label">Tractor</span></span></li>
								<li><span class="icon solid fas fa-seedling major style3"><span class="label">Plantation</span></span></li>
							</ul>
							
						</div>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper alt style2">
						<section class="spotlight">
							<div class="image"><img src="{{ url_for('static', filename='frontend/images/pic01.jpg') }}" alt="" /></div><div class="content">
								<h2>Crop Prediction<br />
								</h2>
								<p class="cont">We recommend the crop by considering the NPK values of the soil, pH of the soil, temperature, humidity, rainfall values etc and run them through a trained ML model to get the most accurate suggestion.</p>
								<ul class="actions stacked">
									<li><a href="{{ url_for('crop_recommend') }}" class="button fit primary">Predict</a></li>
								</ul>
							
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="{{ url_for('static', filename='frontend/images/pic02.jpg') }}" alt="" /></div><div class="content">
								<h2>Fertilizer Recommendation<br />
								</h2>
								<p class="cont">Choosing the best fit crop without checking if the soil could provide all the required nutrients for a healthy and unrestricted growth of the plant is a futile effort. 
									 We collect the crop, soil and environmental data to provide the best suitable fertilizer for those conditions.</p>
								<ul class="actions stacked">
									<li><a href="{{ url_for('fertilizer_recommendation') }}" class="button fit primary">Recommend</a></li>
								</ul>
							
							
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="{{ url_for('static', filename='frontend/images/pic03.jpg') }}" alt="" /></div><div class="content">
								<h2>Plant Disease Detection<br />
								</h2>
								<p class="cont">One of the major readons of crop loss is plant diseases. The delay in the detection has many serious economic consequences do we help the farmer to detect the leaf disease intime and also extend our support by suggesting the best ways to protect their crop.</p>
								<ul class="actions stacked">
									<li><a href="{{ url_for('disease_prediction') }}" class="button fit primary">Detect</a></li>
								</ul>
									
								
							</div>

							
						</section>
					</section>
					
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<div class="about">
							<header class="major">
								
								<h2>About Us<br>
								</h2><br>
								<div class="image"><img src="{{ url_for('static', filename='frontend/images/about.png') }}" alt="" height="200" width="1000"/></div>
								<br><br>
								<p style="line-height: 2.6;text-align: justify;">Our website is one stop solution finder for the farmers to enhance their yield by getting suggestion for the type of crop/ fertilizer to be used for their land 
									with atmost accuracy and also to detect any leaf disease and give the suggestions to protect their crop.<br><br>
							   
									A trip to a friend's home town gave us an insight into the agriculture and farming techniques. After a short interaction with the local farmers, we understood that the old farming techniques such as organic fertilizers made with cow dung, neem oil to prevent pesticides does not work efficiently as in old times because of various reasons like, irregular rainfall, global warming, lack of nutrients in the soil, resistance towards fertilizers. <br><br>
									Also, most importantly the nutrient value in soil has been drastically changed in the past decade leading to the need of advanced cultivation methods to attain a higher yield in order to balance the demand for food of our rising population.
									At that moment, we realised as engineers we could intervein and blend technology with farming to enhance the productivity and this website is a outcome of the thought.
									</p>
							</header>
						</div>
							
							
						</div>
					</section>
				
				

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon brands fa-whatsapp"><span class="label">Whatsapp</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='frontend/assets/js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='frontend/assets/js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static', filename='frontend/assets/js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='frontend/assets/js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='frontend/assets/js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='frontend/assets/js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='frontend/assets/js/main.js') }}"></script>

	</body>
</html>